* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 840px
}

nav {
    background-color: goldenrod;
    padding: 10px0;
}

nav a {
    color: black;
    display: block;
    padding: 10px;

}

h1 {
    color: darkblue;
}

aside {
    position: relative;
    width: 20rem;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 50 px;
    left: 190px;
}

aside img {
    width: 200px;
    height: auto;

}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: 2px;
    margin: 1rem;
    box-shadow: 0 0 30px grey;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* CSS class selecters */
.box {
    margin: 1rem;
    padding: 1px;
    border: 1px solid rgb(0 0 0/.2);
    background-color: #ddd;
    color: white;
}